.filter__wrapper {
  @include padding-hor(calc(25% / 9));
}

.filter__form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.filter__item {
  &--text {
    display: flex;
    flex-direction: column;
  }

  &--text--title {
    width: 100%;
    margin-bottom: 8px;
  }

  &--text--price {
    width: calc(800% / 17);
    margin-right: calc(100% / 17);
    margin-bottom: 8px;
  }

  &--text--year {
    width: calc(800% / 17);
    margin-bottom: 8px;
  }

  &--text--description {
    width: 100%;
    margin-bottom: 15px;
  }

  &--color {
    width: 100%;
    margin-bottom: 30px;
  }

  &--status {
    width: calc(800% / 17);
    margin-right: calc(100% / 17);
  }

  &--button {
    width: calc(800% / 17);
  }
}

.filter__label {
  display: block;

  @include font(400, 12px, 18px);
  color: $gray-light-text;

  &--text {
    margin-bottom: 4px;
    padding-left: calc(50% / 17);
    visibility: hidden;
  }

  .filter__field:focus + &--text {
    visibility: visible;
  }

  &--color {
    margin-bottom: 7px;
  }
}

.filter__field {
  order: 1;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 9px;

  @include font(400, 12px, 18px);
  color: #111111;
  border: 1px solid #dcdcdc;
  border-bottom-width: 2px;
  cursor: pointer;

  &::placeholder {
    color: $gray-light-text;
  }

  &:hover {
    border-bottom-color: $crimson;
  }

  &:focus {
    border-bottom-color: #111111;
    outline: none;
  }

  &:focus::placeholder {
    visibility: hidden;
  }

  &--title {
    @include padding-hor(calc(50% / 17 - 1px));
  }

  &--price {
    @include padding-hor(calc(6.25% - 1px));
  }

  &--year {
    @include padding-hor(calc(6.25% - 1px));
  }

  &--description {
    @include padding-hor(calc(50% / 17 - 1px));
  }
}

.filter__color-list {
  margin-top: 0;
  margin-bottom: 0;
}
