.page-main__intro {
  margin-bottom: 13px;
}

.page-main__slogan {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1px;

  @include font(700, 42px, 42px);
  text-align: center;
}

.page-main__filter {
  margin-bottom: 55px;
}
