.page-main__intro {
  margin-bottom: 13px;

  @include padding-hor;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 39px;
  }
}

.page-main__slogan {
  margin-top: 0;
  margin-bottom: 0;

  @include font(700, 42px, 42px);
  text-align: center;
}

.page-main__filter {
  margin-bottom: 55px;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 17px;
  }

  @media (min-width: $min-desktop-width) {
    margin-bottom: 136px;
  }
}
