//TODO: оптимизация изображений
//TODO: добавить состояния
//TODO: добавить hotkeys для переключения цветов и для селекта
//TODO: регулярное выражение (паттерн) в поле цены

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page__header {
  flex-shrink: 0;
  margin-bottom: 26px;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 50px;
  }
}

.page__main {
  flex-grow: 1;
  flex-shrink: 0;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 20px;
  }
}

.page-footer {
  flex-shrink: 0;
}
