.palette {
  display: flex;

  @include list;
}

.palette__item:nth-last-child(n+2) {
  margin-right: calc(120% / 17);
}

.palette__label {
  cursor: pointer;

  .palette__field:checked + & {
    box-shadow: 0 0 0 4px $crimson;
  }
}
