.status-select {
  position: relative;

  @include font(400, 12px, 18px);
  color: $gray-light-text;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 10%;
    width: 12px;
    height: 6px;
    border-top: 6px solid black;
    border-bottom-style: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
}

.status-select__tip {
  display: block;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: calc(6.25% - 1px);
  padding-right: calc(23.75% - 1px);
  border: 1px solid #dcdcdc;
  border-bottom-width: 2px;
  outline: none;

  @media (min-width: $min-tablet-width) {
    padding-left: 9px;
    padding-right: 38px;
  }

  &:hover {
    border-bottom-color: $crimson;
  }

  &:focus {
    border-bottom-color: $crimson;
  }

  &--js--opened {
    border-bottom-color: black;
  }

  &--js--opened:hover {
    border-bottom-color: black;
  }

  &--js--opened:focus {
    border-bottom-color: black;
  }
}

.status-select__list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 9px;
  padding-bottom: 9px;

  @include list;
  background-color: white;
  border: 1px solid #dcdcdc;
  border-top-style: none;

  &--js--opened {
    display: block;
  }
}

.status-select__item {
  @include padding-hor(calc(6.25% - 1px));

  @media (min-width: $min-tablet-width) {
    @include padding-hor(9px);
  }

  &:nth-last-child(n+2) {
    margin-bottom: 9px;
  }
}

.status-select__label {
  display: block;
  cursor: pointer;

  &:hover {
    color: black;
  }
}
