.status-select {
  position: relative;

  @include font(400, 12px, 18px);
  color: $gray-light-text;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 16px;
    width: 12px;
    height: 6px;
    border-top: 6px solid black;
    border-bottom-style: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
}

.status-select__tip {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 9px;
  padding-right: 38px;
  border: 1px solid #dcdcdc;
  border-bottom-width: 2px;

  &:hover {
    border-bottom-color: $crimson;
  }

  &--js--opened {
    border-bottom-color: #111111;
  }
}

.status-select__list {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 8px;

  @include list;
  border: 1px solid #dcdcdc;
  border-top-style: none;

  &--js--opened {
    display: block;
  }
}

.status-select__item {
  padding-left: 9px;

  &:nth-last-child(n+2) {
    margin-bottom: 10px;
  }
}

.status-select__label {
  display: block;
  cursor: pointer;

  &:hover {
    color: black;
  }
}
