.table {
  display: block;

  @media (min-width: $min-tablet-width) {
    display: table;
    border-collapse: collapse;
    width: 100%;
  }
}

.table__group {
  display: block;

  &--body {
    background-color: #f5f6f6;
  }

  @media (max-width: $max-phone-width) {
    &--head {
      @include visually-hider;
    }
  }

  @media (min-width: $min-tablet-width) {
    &--body {
      display: table-row-group;
    }

    &--head {
      display: table-header-group;
      background-color: $crimson;
    }
  }
}

.table__row {
  &--body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 18px;
    padding-bottom: 18px;

    @include padding-hor(20px);
    border-top: 1px solid rgba(152, 152, 152, 0.2);
  }

  @media (min-width: $min-tablet-width) {
    &--body {
      display: table-row;
      border-top-color: #e6e9ea;
    }

    &--body:first-child {
      border-top-style: none;
    }
  }
}

.table__cell {
  padding: 0;

  &--body {
    flex-shrink: 0;
    display: block;

    @include font(300, 14px, 16px);
  }

  &--body--title {
    position: relative;
    width: 46.875%;
    margin-right: 6.25%;
  }

  &--body--title--item-1 {
    margin-bottom: 54px;
  }

  &--body--title--item-2 {
    margin-bottom: 8px;
  }

  &--body--title--item-3 {
    margin-bottom: 8px;
  }

  &--body--title--item-4 {
    margin-bottom: 8px;
  }

  &--body--title--item-5 {
    margin-bottom: 8px;
  }

  &--body--title--item-6 {
    margin-bottom: 54px;
  }

  &--body--year {
    order: 1;
    width: 10%;
    margin-top: 7px;
    margin-right: 6.25%;
  }

  &--body--color {
    display: flex;
    justify-content: flex-end;
    width: 12.5%;
    padding-right: 11px;
  }

  &--body--status {
    order: 1;
    margin-top: 7px;
    margin-right: auto;
  }

  &--body--price {
    width: 34.375%;
    margin-top: 1px;
    margin-bottom: 15px;
    padding-right: 10px;
    text-align: right;
  }

  &--body--action {
    order: 1;
  }

  @media (min-width: $min-tablet-width) {
    margin: 0;
    vertical-align: top;

    &--head {
      padding-top: 15px;
      padding-bottom: 15px;

      @include font(500, 15px, 15px);
      text-align: left;
      color: white;
    }

    &--head--title {
      padding-left: calc(15% / 7);
      border-top-left-radius: 4px;
    }

    &--head--action {
      border-top-right-radius: 4px;
    }

    &--body {
      display: table-cell;

      @include font(300, 15px, 15px);
    }

    &--body--title {
      width: calc(281% / 7);
      padding-top: 18px;
      padding-bottom: 15px;
      padding-left: calc(15% / 7);
    }

    &--body--year {
      width: calc(45% / 7);
      padding-top: 18px;
    }

    &--body--color {
      display: table-cell;
      width: calc(50% / 7);
      padding-top: 15px;
      padding-left: 7px;
    }

    &--body--status {
      width: calc(113% / 7);
      padding-top: 18px;
    }

    &--body--price {
      width: calc(121% / 7);
      padding-top: 18px;
      text-align: left;
    }

    &--body--action {
      width: calc(90% / 7);
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: calc(10% / 7);
    }

    &--body--action--last {
      border-bottom-right-radius: 4px;
    }
  }
}

.table__item-title {
  margin-top: 0;
  margin-bottom: 0;

  &--item-1 {
    padding-right: 30px;
  }

  &--item-5 {
    padding-right: 10px;
  }

  @media (min-width: $min-tablet-width) {
    width: calc(6500% / 67);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--item-1 {
      margin-bottom: 6px;
      padding-right: 0;
    }

    &--item-5 {
      padding-right: 0;
    }

    &--item-6 {
      margin-bottom: 6px;
    }
  }
}

.table__addition {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  width: calc(640% / 3);
  max-height: 32px;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;

  @include font(300, 13px, 15px);
  color: #8b9497;

  @media (min-width: $min-tablet-width) {
    position: static;
    width: calc(6500% / 67);
  }
}
