@mixin font($fweight: 300, $fsize: 12px, $lheight: 18px) {
  font-weight: $fweight;
  font-style: normal;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: $fsize;
  line-height: $lheight;
}

@mixin visually-hider {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
}

@mixin list {
  padding-left: 0;
  list-style-type: none;
}

@mixin margin-hor($mh: auto) {
  margin-left: $mh;
  margin-right: $mh;
}

@mixin padding-hor($ph: 10px) {
  padding-left: $ph;
  padding-right: $ph;
}
